Repository rudderlabs/rudder-go-kit, pull requests merged in 2023-06, with the labels that each got.

#65 chore: release 0.14.3
  CHANGELOG.md
Labels: autorelease: pending

#67 feat: redact unknown paths by default in chiware StatMiddleware
  chiware/stats.go
  chiware/stats_test.go
  go.mod
  go.sum
  gorillaware/stats.go
  gorillaware/stats_test.go
Labels: with tests

#68 chore: release 0.15.0
  CHANGELOG.md
Labels: autorelease: pending

#69 chore: add filemanager
  Makefile
  awsutil/awsutil.go
  chiware/stats.go
  chiware/stats_test.go
  filemanager/azureblobmanager.go
  filemanager/base.go
  filemanager/config.go
  filemanager/digitaloceanmanager.go
  filemanager/filemanager.go
  filemanager/filemanager_test.go
  filemanager/filemanager_testutil.go
  filemanager/gcsmanager.go
  filemanager/goldenDirectory/original.json.gz
  filemanager/goldenDirectory/original100.json.gz
  filemanager/iterator.go
  filemanager/iterator_test.go
  filemanager/miniomanager.go
  filemanager/mock_filemanager/mock_filemanager.go
  filemanager/s3manager.go
  filemanager/s3manager_test.go
  go.mod
  go.sum
  googleutil/googleutil.go
  logger/factory.go
  logger/factory_test.go
  logger/logger_test.go
  mem/internal/cgroup/mem_test.go
  mem/mem.go
  sync/limiter.go
  sync/limiter_test.go
  sync/plocker_test.go
  sync/prwlocker_test.go
  testhelper/docker/resource/postgres.go
  testhelper/docker/resource/pulsar.go
  testhelper/docker/resource/pulsar_test.go
Labels: with tests, logger
