Repository rudderlabs/rudder-go-kit, pull requests merged in 2023-10, with the labels that each got.

#153 chore: expose S3Manager#GetSession
  filemanager/s3manager.go
  filemanager/s3manager_test.go
Labels: with tests

#173 chore: removing unused parameter
  chiware/stats.go
  chiware/stats_test.go
Labels: with tests

#150 feat: upgrade opentelemetry package
  go.mod
  go.sum
  stats/internal/otel/options.go
  stats/internal/otel/otel.go
  stats/internal/otel/otel_test.go
  stats/internal/otel/prometheus/exporter.go
  stats/otel_test.go
Labels: with tests, stats

#162 chore: release 0.16.0
  CHANGELOG.md
Labels: autorelease: pending

#169 chore: add a docker resource for minio
  testhelper/docker/resource/minio.go
  testhelper/docker/resource/minio/config.go
  testhelper/docker/resource/minio_test.go
  testhelper/docker/resource/testdata/minio.object
Labels: with tests

#176 chore: release 0.16.1
  CHANGELOG.md
Labels: autorelease: pending

#177 fix: memory gcra limiter inconsistency when rate < cost < burst
  throttling/memory_gcra.go
  throttling/memory_gcra_test.go
Labels: with tests

#179 chore: release 0.16.2
  CHANGELOG.md
Labels: autorelease: pending

#182 chore: release 0.16.3
  CHANGELOG.md
Labels: autorelease: pending
