Repository rudderlabs/rudder-go-kit, pull requests merged in 2023-09, with the labels that each got.

#116 chore: upgrade go version 1.21
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  sqlutil/printrows_test.go
Labels: with tests

#114 chore: release 0.15.8
  CHANGELOG.md
Labels: autorelease: pending

#108 fix: register reloadable config variables
  config/config.go
  config/config_test.go
  config/hotreloadable.go
  config/load.go
  config/reloadable_benchmark_test.go
  logger/config.go
  logger/factory.go
  logger/logger.go
Labels: with tests, config, logger

#117 chore: release 0.15.9
  CHANGELOG.md
Labels: autorelease: pending

#118 fix: config deadlock by trying to acquire a read lock twice
  config/config.go
  config/hotreloadable.go
  config/load.go
Labels: config

#119 chore: release 0.15.10
  CHANGELOG.md
Labels: autorelease: pending

#120 fix: another config deadlock by trying to acquire a read lock twice
  config/config.go
  config/config_test.go
  config/hotreloadable.go
  config/load.go
Labels: with tests, config

#121 chore: release 0.15.11
  CHANGELOG.md
Labels: autorelease: pending
