Repository rudderlabs/rudder-go-kit, pull requests merged in 2023-11, with the labels that each got.

#194 chore: release 0.16.4
  CHANGELOG.md
Labels: autorelease: pending

#210 feat: provide memstat methods to assist on testing (pipe-538)
  stats/memstats/stats.go
  stats/memstats/stats_test.go
Labels: with tests, stats

#209 chore: release 0.17.0
  CHANGELOG.md
Labels: autorelease: pending

#202 feat: fields for labels and non-sugared structured logging
  go.mod
  go.sum
  logger/benchmark_test.go
  logger/factory.go
  logger/field.go
  logger/logger.go
  logger/logger_test.go
  logger/mock_logger/mock_logger.go
  logger/nop.go
Labels: with tests, logger

#220 chore: release 0.18.1
  CHANGELOG.md
Labels: autorelease: pending
