Repository rudderlabs/rudder-go-kit, pull requests merged in 2023-05, with the labels that each got.

#43 chore: add logs during StatsD client creation
  stats/statsd.go
Labels: stats

#44 fix: race condition for err variable when statsd start is called
  .gitignore
  stats/statsd.go
Labels: stats

#47 chore: release 0.13.3
  CHANGELOG.md
Labels: autorelease: pending

#51 fix: instanceName consistency
  stats/internal/otel/otel.go
  stats/internal/otel/otel_test.go
  stats/internal/otel/prometheus/config.go
  stats/internal/otel/prometheus/exporter.go
  stats/internal/otel/testdata/otel-collector-config.yaml
  stats/otel.go
  stats/otel_test.go
  stats/testdata/otel-collector-config.yaml
Labels: with tests, stats

#52 fix: gauge continuity
  stats/otel_measurement.go
Labels: stats

#53 chore: release 0.13.5
  CHANGELOG.md
Labels: autorelease: pending

#59 chore: release 0.14.0
  CHANGELOG.md
Labels: autorelease: pending

#61 chore: release 0.14.1
  CHANGELOG.md
Labels: autorelease: pending

#62 fix: otel prometheus duplicated attributes
  stats/internal/otel/prometheus/exporter.go
  stats/otel.go
  stats/otel_test.go
  stats/stats.go
  stats/statsd.go
Labels: with tests, stats

#64 chore: avoid starting a limiter using a limit less than zero
  go.mod
  go.sum
  sync/limiter.go
  sync/limiter_test.go
Labels: with tests
