Repository rudderlabs/rudder-go-kit, pull requests merged in 2024-03, with the labels that each got.

#372 fix: indefinite function runs inside mutex lock
  stats/statsd.go
  stats/statsd_measurement.go
Labels: stats

#374 chore: export config BE handler for transformer, and unstarted http test server
  testhelper/docker/resource/transformer/transformer.go
  testhelper/docker/resource/transformer/transformer_backend_config.go
  testhelper/httptest/httptest.go
  testhelper/httptest/httptest_test.go
Labels: with tests

#376 chore: release 0.23.2
  CHANGELOG.md
Labels: autorelease: pending

#390 chore: release 0.23.3
  CHANGELOG.md
Labels: autorelease: pending
