Repository rudderlabs/rudder-go-kit, pull requests merged in 2024-04, with the labels that each got.

#393 feat: add sftp library
  go.mod
  sftp/client.go
  sftp/mock_sftp/mock_sftp_client.go
  sftp/sftp.go
  sftp/sftp_test.go
  sftp/testdata/ssh/test_key
  sftp/testdata/ssh/test_key.pub
Labels: DO NOT MERGE, with tests

#400 chore: release 0.24.0
  CHANGELOG.md
Labels: autorelease: pending

#406 chore: provide methods to access config init errors
  config/config.go
  config/config_test.go
  config/load.go
Labels: with tests, config

#416 feat: additional helpers packages
  .golangci.yml
  config/load.go
  config/valueloader.go
  go.mod
  go.sum
  httputil/client.go
  httputil/client_test.go
  sanitize/sanitize.go
  sanitize/sanitize_test.go
  stringify/stringify.go
  stringify/stringify_test.go
  uuid/uuid.go
  uuid/uuid_test.go
Labels: with tests, config

#419 chore: release 0.25.0
  CHANGELOG.md
Labels: autorelease: pending

#422 feat: throttling with retryAfter
  throttling/lua/gcra.lua
  throttling/lua/sortedset.lua
  throttling/memory_gcra.go
  throttling/memory_gcra_test.go
  throttling/throttling.go
  throttling/throttling_test.go
Labels: with tests

#423 chore: release 0.26.0
  CHANGELOG.md
Labels: autorelease: pending

#425 feat: sync.EagerGroup
  .github/workflows/labeler.yaml
  .github/workflows/pr-description-enforcer.yaml
  .github/workflows/semantic-pr.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  sync/group.go
  sync/group_test.go
Labels: with tests

#440 feat: add etcd resource [PIPE-971]
  go.mod
  go.sum
  testhelper/docker/resource/etcd/config.go
  testhelper/docker/resource/etcd/etcd.go
  testhelper/docker/resource/etcd/etcd_test.go
Labels: with tests

#441 chore: release 0.28.0
  CHANGELOG.md
Labels: autorelease: pending

#444 feat: monitor sql database
  sqlutil/monitor.go
  sqlutil/monitor_test.go
Labels: with tests

#447 chore: release 0.29.0
  CHANGELOG.md
Labels: autorelease: pending

#437 feat: add remoteFilePath support and create remote directory in sftp
  sftp/client.go
  sftp/mock_sftp/mock_sftp_client.go
  sftp/sftp.go
  sftp/sftp_test.go
Labels: with tests

#455 fix: file creation on aws sftp servers
  sftp/client.go
  sftp/mock_sftp/mock_sftp_client.go
  sftp/sftp.go
  sftp/sftp_test.go
Labels: with tests

#450 chore: release 0.30.0
  CHANGELOG.md
Labels: autorelease: pending
