Repository rudderlabs/rudder-go-kit, pull requests merged in 2024-02, with the labels that each got.

#319 chore: unexpected EOF errors with postgres container
  testhelper/docker/resource/postgres/config.go
  testhelper/docker/resource/postgres/postgres.go
  testhelper/docker/resource/postgres/postgres_test.go
  testhelper/docker/resource/types.go
  throttling/util_test.go
Labels: with tests

#310 chore: release 0.20.3
  CHANGELOG.md
Labels: autorelease: pending

#334 chore: add docker resource for transformer
  testhelper/docker/resource/transformer/transformer.go
  testhelper/docker/resource/transformer/transformer_test.go
Labels: with tests

#326 chore: release 0.21.0
  CHANGELOG.md
Labels: autorelease: pending

#345 chore: race support
  Makefile
  stats/statsd.go
  stats/statsd_test.go
  sync/plocker_test.go
  throttling/memory_gcra_test.go
Labels: with tests, stats

#336 chore: release 0.21.1
  CHANGELOG.md
Labels: autorelease: pending

#344 feat: add mock config BE support for transformer
  .github/workflows/tests.yaml
  go.mod
  go.sum
  testhelper/docker/docker.go
  testhelper/docker/resource/transformer/transformer.go
  testhelper/docker/resource/transformer/transformer_backend_config.go
  testhelper/docker/resource/transformer/transformer_test.go
  testhelper/httptest/httptest.go
  testhelper/httptest/httptest_test.go
Labels: with tests

#333 feat: add async.SingleSender and a new docker resource for mysql
  async/single_sender.go
  async/single_sender_test.go
  go.mod
  testhelper/docker/resource/mysql/config.go
  testhelper/docker/resource/mysql/mysql.go
  testhelper/docker/resource/mysql/mysql_test.go
  testhelper/docker/resource/postgres/config.go
  testhelper/docker/resource/postgres/postgres.go
  testhelper/docker/resource/postgres/postgres_test.go
Labels: with tests

#353 chore: release 0.23.0
  CHANGELOG.md
Labels: autorelease: pending

#358 chore: release 0.23.1
  CHANGELOG.md
Labels: autorelease: pending
