Repository rudderlabs/rudder-go-kit, pull requests merged in 2024-05, with the labels that each got.

#460 chore: release 0.31.0
  CHANGELOG.md
Labels: autorelease: pending

#465 fix: sftp retry on connection lost
  sftp/client.go
  sftp/mock_sftp/mock_sftp_client.go
  sftp/sftp.go
  sftp/sftp_test.go
Labels: with tests

#469 chore: release 0.32.0
  CHANGELOG.md
Labels: autorelease: pending

#475 chore: optimise function config.ConfigKeyToEnv
  config/config.go
  config/config_test.go
  config/env.go
Labels: with tests, config

#476 chore: release 0.32.1
  CHANGELOG.md
Labels: autorelease: pending

#483 chore: rewrite tests to use fakestorage
  filemanager/gcsmanager_test.go
  go.mod
  go.sum
Labels: with tests

#486 chore: release 0.32.2
  CHANGELOG.md
Labels: autorelease: tagged

#488 chore: expose otel version from stats library
  stats/otel.go
Labels: stats

#487 chore: release 0.33.0
  CHANGELOG.md
Labels: autorelease: pending

#482 feat: introduce a ttl cache for resources
  cachettl/cachettl.go
  resourcettl/cache.go
  resourcettl/cache_test.go
Labels: with tests

#492 chore: release 0.34.0
  CHANGELOG.md
Labels: autorelease: pending

#496 chore: release 0.34.1
  CHANGELOG.md
Labels: autorelease: pending
